$primary-color: #ff0000;
$secondary-color: #f6f5f5;
$terniary-color: #fff;

$darker-border: #333333;
$dark-border: #747474;
$light-border:  #969696;

$header-normal: 100px;
$header-small: 80px;
$header-tablet: 140px;
$header-mobile: 120px;
