@import '../../../lib/variables.scss';

.fr-Button {
	min-width: 140px;
	min-height: 35px;
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	border: 0.5px solid $darker-border;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

	@media only screen and (max-width: 1366px) {
		min-width: 120px;
		height: 30px;
		margin: 10px 0;
		font-size: 12px;
	}

	@media only screen and (max-width: 320px) {
		min-width: 100px;
		height: 25px;
		margin: 10px 0;
		font-size: 12px;
	}
	
	&_primary {
		background-color: #3c4faf;
		color: #fff;
		
		&:hover {
			background-color: #4a5cb5;
		}
	}

	// &_primary {
	// 	background-color: #fccf3f;
	// 	color: #000;
		
	// 	&:hover {
	// 		background-color: #ffdb87;
	// 	}
	// }

	&_secondary {
		background-color: #ea3942;
		color: #fff;

		&:hover {
			background-color: #ea3942;
		}
	}

	&:focus {
		outline: none;
	}
}
