@import "../../../lib/_variables.scss";

.fr-Home {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 50px;

	&-title {
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-list {
		padding-bottom: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	&-link {
		text-decoration: none;
		color: #000;
	}
}
