@import '../../../../lib/variables.scss';

.fr-Register {
	width: 440px;
	height: 580px;
	min-width: 240px;
	margin: 0 auto;
	position: relative;
	top: 50px;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: 1366px) {
		height: 540px;
		top: 40px;
	}

	@media only screen and (max-width: 1152px) {
		height: 460px;
		top: 20px;
	}

	@media only screen and (max-width: 768px) {
		top: 140px;
	}

	@media only screen and (max-width: 425px) {
		width: 360px;
		top: 40px;
	}

	@media only screen and (max-width: 375px) {
		width: 320px;
	}

	@media only screen and (max-width: 320px) {
		width: 300px;
		height: 420px;
		top: 20px;
	}

	&-title {
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-form {
		width: 100%;
		height: 400px;
		padding: 20px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #e6e6e6;

		@media only screen and (max-width: 1152px) {
			padding: 10px 40px;
		}

		> div {
			width: 300px;
			margin-bottom: 10px;
			font-size: 14px;

			@media only screen and (max-width: 1152px) {
				margin-bottom: 5px;
			}

			@media only screen and (max-width: 320px) {
				margin-bottom: 0;
				font-size: 10px;
			}

			> input {
				font-size: 12px;
				border: 0.5px solid $dark-border;

				@media only screen and (max-width: 1366px) {
					font-size: 12px;
				}

				@media only screen and (max-width: 1152px) {
					font-size: 10px;
				}
			}

			> select {
				width: 220px;
				font-size: 12px;
				border: 0.5px solid $dark-border;

				@media only screen and (max-width: 1366px) {
					font-size: 14px;
				}

				@media only screen and (max-width: 1152px) {
					font-size: 10px;
				}
			}
		}
	}

	&-input_err {
		border-color: #ff0000 !important;
	}

	&-error {
		height: 10px;
		margin-top: 5px;
		display: flex;
		justify-content: center;
		font-size: 12px;
		color: #ff0000;
	}
}
