.gt-Toast {
	height: 50px;
	margin: 10px;
	padding: 0 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 0.3em;
	background-color: #fff;
	color: #37474f;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	animation: fade-in-left 0.5s;
	position: relative;
	z-index: -1;

	> span {
		padding: 0 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
	}

	> img {
		cursor: pointer;
	}

	&-remove {
		animation: fade-out-right 0.5s;
	}
}

@keyframes fade-in-left {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-out-right {
	from {
		opacity: 1;
		transform: translateX(0);
	}

	to {
		opacity: 0;
		transform: translateX(100%);
	}
}
