@import '../../../lib/variables.scss';

.fr-Dropdown {
	&-toggle {
		> span {
			margin: 0 5px;
			cursor: pointer;
		}
	}

	&-menu {
		padding: 0 !important;
		background-color: $secondary-color;
		border: 1px solid $darker-border;
		font-size: 16px;

		> * {
			margin: 0 !important;
			padding: 5px 10px;
			border-radius: 2px;
			
			&:hover {
				> * {
					color: #000 !important;
				}
			}

			&:active {
				background-color: #fff;
			}
		}
	}
}
