@import "../../../lib/_variables.scss";

.gt-Spinner {
	margin: 50px;
	display: inline-block;
	border: 4px solid rgba(234, 57, 66, 0.4);
	border-radius: 50%;
	border-top-color: $primary-color;
	animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
