@import "../../../lib/_variables.scss";

.fr-Home {
	height: calc(100vh - 100px);

	@media only screen and (max-width: 1366px) {
		height: calc(100vh - 80px);
		top: 80px;
	}

	@media only screen and (max-width: 768px) {
		height: calc(100vh - 140px);
		padding: 0 40px;
	}

	@media only screen and (max-width: 425px) {
		height: calc(100vh - 120px);
		padding: 0;
	}
}
