@import "../../../lib/_variables.scss";

.gt-Header {
	height: $header-normal;
	margin: 10px 100px;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;

	@media only screen and (max-width: 1366px) {
		height: $header-small;
	}

	@media only screen and (max-width: 768px) {
		height: $header-tablet;
		padding: 10px 60px;
		flex-direction: column;
	}
	
	@media only screen and (max-width: 425px) {
		height: $header-mobile;
		padding: 10px 20px;
	}
		
	&-logo {
		height: 80px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $primary-color;
		color: #fff !important;
		font-size: 22px;
		font-weight: bold;
		text-decoration: none;

		@media only screen and (max-width: 1366px) {
			height: 60px;
		}

		@media only screen and (max-width: 320px) {
			height: 70px;
		}
	}

	&-icons {
		> img {
			width: 60px;
			margin: 0 70px;
		}
	}

	&-nav {
		height: 25px;
		display: inline-flex;
		margin: 10px 0;
		padding: 0;
		font-size: 18px;
		font-weight: 700;

		@media only screen and (max-width: 1366px) {
			font-size: 16px;
		}

		@media only screen and (max-width: 425px) {
			margin-bottom: 0;
			font-size: 16px;
		}

		@media only screen and (max-width: 375px) {
			font-size: 14px;
		}

		@media only screen and (max-width: 320px) {
			font-size: 12px;
		}
	}

	&-link {
		margin: 0 10px;
		text-decoration: none;
		cursor: pointer;
		color: #000;

		@media only screen and (min-width: 320px) and (max-width: 375px) {
			margin: 0 10px;
		}

		@media only screen and (max-width: 768px) {
			height: 15px;
		}

		&_active {
			text-decoration: underline;
		}
	}

	&-dropdown {
		margin: 0 10px;
		text-decoration: none;
		color: #000;
		cursor: pointer;

		@media only screen and (min-width: 320px) and (max-width: 375px) {
			margin: 0 10px;
		}

		@media only screen and (max-width: 768px) {
			height: 15px;
		}
	}
}
