@import "~bootstrap/scss/bootstrap";
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');
@import "./lib/_variables.scss";

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', sans-serif;
	background-color: $secondary-color;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

code {
	font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes wiggle-left {
	0% {
		transform: rotate(10deg)
	}

	25% {
		transform: rotate(-10deg)}
	
	50% {
		transform: rotate(10deg)
	}

	75% {
		transform: rotate(-10deg)
	}

	100% {
		transform: rotate(10deg)
	}
}

@keyframes wiggle-right {
	0% {
		transform: rotate(-10deg)
	}

	25% {
		transform: rotate(10deg)}
	
	50% {
		transform: rotate(-10deg)
	}

	75% {
		transform: rotate(10deg)
	}

	100% {
		transform: rotate(-10deg)
	}
}