@import '../../../lib/variables.scss';

.fr-Teaser {
	margin: 20px 10px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: 1px solid #000;

	> div {
		width: 240px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&-title {
		font-size: 16px;
		font-weight: bold;
	}

	&-text {
		font-size: 12px;
	}

	&-image {
		width: 200px;
	}
}
