@import "../../../lib/_variables.scss";

.fr-Article {
	padding: 0 100px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 30px;

	&-title {
		margin: 20px 0;
		text-align: center;
	}

	&-descrition {
	}

	&-date {
	}

	&-image {
		width: 800px;
	}

	&-text {
		max-width: 800px;
		width: 100%;
		margin-top: 20px;
	}
}
